# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [2]:
print("Ryan Charter")

Ryan Charter

<font size = "5">

Import the "pandas" and "numpy" library

In [3]:
# Write your answer here:
import numpy as np
import pandas as pd

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 13

In [4]:
students = pd.read_csv("data_raw/students.csv")

bins_x = [-1,54,59,64,69,74,79,82,86,92,100]
labels_x = ["F","D","C-","C","C+","B-","B","B+","A-","A"]

students["lettergrade"] = pd.cut(students["numericgrade"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data/raw_results.csv" to <br>
 a new object "results"

In [5]:

results = pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "milliseconds" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 13 and 14 for how to interpret the codebook

In [6]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

results.dtypes

print("The 'milliseconds' coulmn doesn't agree with the codebook as it is listed as a string/object.")

The 'milliseconds' coulmn doesn't agree with the codebook as it is listed as a string/object.

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so, go to Lecture 13 and follow the setups under the headings
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"

HINT: substitute "milliseconds" instead of "alt", <br>
and the dataset "results" instead of "circuits"

In [33]:
# Write your own code here
subset = results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset["milliseconds"])
results["milliseconds"] = results["milliseconds"].replace('\\N', np.nan)
results["milliseconds_numeric"] = pd.to_numeric(results["milliseconds"])

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

HINT: See Lecture 14 <br>

In [28]:
# Write your own code

results_agg = (results.groupby("constructorId")
                      .agg(mean_laps = ('laps','mean'),
                             sd_points =   ('laps','std'))
                      .sort_values("mean_laps",ascending = False))

display(results_agg)

                mean_laps  sd_points
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 200'
- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"

Hint: See Lecture 11 (to refresh ".query()") and <br>
Lecture 14 for how to combine it with ".groupby()"

In [31]:
# Write your own code

results_agg = (results.query("raceId >= 200")
                       .groupby("constructorId")
                        .agg(mean_points = ('points','mean'),
                             sd_points =   ('points','std')))
                        
display(results_agg)

               mean_points  sd_points
constructorId
1                 3.255757   4.862496
3                 2.471356   3.910091
4                 1.986193   3.505756
5                 1.121212   2.400518
6                 4.200241   5.630588
...                    ...        ...
209               0.012821   0.113228
210               0.809028   2.140123
211               3.723684   5.193839
213               2.327869   4.112956
214               3.693182   4.363796

[201 rows x 2 columns]